<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnwxj9Qbip_ocgobkR4siC7llNNGTJ734</string>
	<key>GCM_SENDER_ID</key>
	<string>367885456902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackElephants</string>
	<key>PROJECT_ID</key>
	<string>test2-f16fb</string>
	<key>STORAGE_BUCKET</key>
	<string>test2-f16fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367885456902:ios:b012da3dec79f773931587</string>
	<key>DATABASE_URL</key>
	<string>https://test2-f16fb-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>